In [12]:
import json
import requests
import pandas as pd
import re

In [13]:
myF=open('dests.txt')
city1='Tel Aviv'
api_key='AIzaSyCC-mSZwvXAYwjFEq-C69J0kLNKTilwxjo'

In [14]:
#put cities in a list
targets=[]
for target in myF: 
    target=target.rstrip()
    targets.append(target)

# Q1

finding km and minutes

In [15]:
km=[]
minutes=[]
for city2 in targets: 
    url="https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=%s&destinations=%s&key=%s" % (city1,city2,api_key)
    try:
        response = requests.get(url)
        if response.status_code == 200:
            try:
                response_data = response.json()
                if response_data["status"] == "OK":
                    distance=response_data['rows'][0]['elements'][0]['distance']['value']/1000
                    time=response_data['rows'][0]['elements'][0]['duration']['value']/60
                    km.append(distance)
                    minutes.append(time)
                else:
                    print('Something went wrong with API status')
            except:
                print("Response not in valid JSON format")
        else:
            print("HTTP error",response.status_code)
    except:
        print("Something went wrong with requests.get")

# Q2

finding longitude and latitude

In [17]:
lat=[]
lng=[]
for city2 in targets: 
    url1="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (city2,api_key)
    try:
        response1 = requests.get(url1)
        if response1.status_code == 200:
            try:
                response_data1 = response1.json()
                lat.append(response_data1['results'][0]['geometry']['location']['lat'])
                lng.append(response_data1['results'][0]['geometry']['location']['lng']) 
            except:
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")

In [18]:
df=pd.DataFrame({'Target': targets, 'Distance_km':km, 'Duration': minutes, 'Longitude':lng, 'Latitude': lat})

# Q3

In [19]:
df

      Target  Distance_km     Duration  Longitude   Latitude
0   Istanbul     1815.227  1262.866667  28.978359  41.008238
1  Amsterdam     4527.132  2896.333333   4.904139  52.367573
2   Valletta     3792.883  3050.933333  14.514100  35.899237
3      Basel     4092.805  2642.450000   7.588576  47.559599
4       Doha     2164.477  1358.783333  51.531040  25.285447

# Q4

find max values

In [20]:
df.nlargest(3,['Distance_km'])

      Target  Distance_km     Duration  Longitude   Latitude
1  Amsterdam     4527.132  2896.333333   4.904139  52.367573
3      Basel     4092.805  2642.450000   7.588576  47.559599
2   Valletta     3792.883  3050.933333  14.514100  35.899237